.inspector-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}


.inspector-buttons .btn-secondary {
  margin-left: 15px;
}

.inspector-icon {
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 5px;
  display: box;
  border: solid 1px transparent;
  background: transparent;
  vertical-align: middle;
  margin: 2px 4px;
}

.inspector-icon-modal {
  width: 18px;
  vertical-align: middle;
}

.inspector-icon:hover {
  background: #f8f8f8;
  border: solid 1px #cccccc;
}
