.inspector-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.inspector-buttons button {
  cursor: pointer;
  font-size: 16px;
  margin-left: 6px;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 0.25rem;
}

.inspector-buttons .btn-primary {
  color: #fff;
  background-color: #52b415;
  border-color: #52b415;
}

.inspector-buttons button:disabled {
  opacity: 0.65;
  cursor: not-allowed;
}

.inspector-icon {
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 5px;
  display: box;
  border: solid 1px transparent;
  background: transparent;
  vertical-align: middle;
  margin: 2px 4px;
}

.inspector-icon-modal {
  width: 18px;
  vertical-align: middle;
}

.inspector-icon:hover {
  background: #f8f8f8;
  border: solid 1px #cccccc;
}
